body {
	color: #000000;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;

	position: relative;
}

h1 {
	font-size: 56px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 55px;
}

p {
	text-align: justify;
	
	margin-bottom: 16px;
}

.navbar {
	min-height: 100px;
	background: url("../img/black-stripes.png") no-repeat bottom;
	background-size: 100%;
}

.navbar-inverse .navbar-nav>li>a {
	-webkit-transition-duration: 0.3s;

	background-color: Transparent !important;
	
	padding-top: 35px;
	padding-bottom: 35px;
	
	color: #000000 !important;
	font-weight: bold;
}

.navbar-nav>li.active>a, .navbar-nav>li.active:hover>a, .navbar-nav>li:hover>a {
	color: #00aa00 !important;

	font-weight: bold;
}

.navbar, .navbar-brand, .navbar-brand:hover {
	background-color: #ffffff !important;

	color: #000000 !important;
	font-weight: bold;
}

.navbar-brand {
	padding: 8px;
	height: 90px;
}

.navbar-fixed-top, .navbar-collapse {
	border-width: 0px !important;
}

.navbar-collapse.collapse {
	height: 100px !important;
}

.navbar-toggle {
	background-color: #000000 !important;
}

.navbar-nav {
	display: table;
}

.navbar-nav li {
	display: inline-block;
}

.clock-wrapper {
	text-align: center;

	margin: auto;
	margin-top: 90px;
	margin-bottom: 70px;
	max-width: 90%;
	display: table;
}

.countdown {
	display: inline-block;
}

.document-button {
	-webkit-transition-duration: 0.3s;

	background-color: #aaaaaa;

	color: #ffffff;
	font-weight: bold;

	padding: 10px;
}

.document-button:hover {
	background-color: #dddddd;

	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.faq-question {
	-webkit-transition-duration: 0.3s;
	
	background-color: Transparent;
	border: none;
	outline: none;
	
	padding-left: 0;
	padding-right: 0;
	
	font-size: 20px;
	font-weight: bold;
	
	display: inline-block;
}

.faq-question:hover {
	cursor: pointer;
	
	color: #ffffff;
}

.faq-answer {
	border-left: 4px solid #000;
	
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.faq-answer p {
	margin-bottom: 5px;
}

.section {
	background-color: #0034da;

	margin: 0px;
	padding: 20px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 80px;
	
}

#main {
	background-color: #ed5d47;
	
	padding-top: 150px;
}

#announcements {
	background-color: #72c176;
}

#documents {
	background-color: #7c98d6;
}

#faq {
	background-color: #b991bf;
}

#committee {
	background-color: #aaa292;
}

.space-filler {
	background-color: #888888;

	text-align: center;
	
	display: table;
	height: 300px;
	width: 100%;
}

.space-filler p {
	font-weight: bold;
	text-align: center;

	display: table-cell;
	vertical-align: middle;
}

.animal-sound {
	transition: transform 0.3s;
	
	background-color: Transparent;
	border: none;
	outline: none;
	
	width: auto;
	padding-left: 0;
	padding-right: 0;
	transform: scale(0.95);
	
	display: inline-block;
}

.animal-sound:hover {
	cursor: pointer;
	
	transform: scale(1.00);
}

.animal-sound:active {
	transform: scale(0.90);
}
